name: Clean Cloud Infrastructure

on:
  workflow_dispatch:
    inputs:
      azure_credentials:
        description: 'Optional Azure credentials (JSON format). Will be used if AZURE_CREDENTIALS secret is not set.'
        required: false
        type: string

jobs:
  terraform-destroy:
    name: Deleting Cloud Infrastructure
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infrastructure

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS || github.event.inputs.azure_credentials }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Download run_id artifact
        uses: actions/download-artifact@v4
        with:
          name: terraform-run-id
          path: ./infrastructure

      - name: Read run ID
        id: get-run-id
        run: |
          echo "RUN_ID=$(cat infrastructure/run_id.txt)" >> "$GITHUB_ENV"

      - name: Download Terraform state from previous run
        uses: actions/download-artifact@v4
        with:
          name: terraform-state
          path: ./infrastructure
          run-id: ${{ env.RUN_ID }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - run: terraform init
      - run: terraform validate
      - run: terraform plan -var="subscription_id=$(az account show --query id -o tsv)"
      - run: terraform destroy -auto-approve -var="subscription_id=$(az account show --query id -o tsv)"
